<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SaovietMasterScheduleEntities" connectionString="metadata=res://*/Entities.SaovietMasterScheduleModel.csdl|res://*/Entities.SaovietMasterScheduleModel.ssdl|res://*/Entities.SaovietMasterScheduleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SV-QC;Initial Catalog=SaovietMasterSchedule;User ID=sa;Password=sa@123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
</configuration>
